--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.0+cpu
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.80
langchain-huggingface==0.3.1
faiss-cpu==1.7.4
pypdf==5.1.0
langchain-text-splitters==0.3.11
sentence-transformers==3.3.1
huggingface-hub==0.36.0
numpy<2.0.0

